.btn {
  width: 100%;
  display: inline-block;
  background-color: #e8eaec;
  border: none;
  box-shadow: 5px 5px 15px 0px rgba(13, 39, 80, 0.16), -5px -5px 15px 0px #fff;
  border-radius: 10px;
  padding: 10px 20px;
  color: grey;
  font-size: 18px;
}

.btn:hover {
  box-shadow: -5px -5px 15px 0px rgba(255, 255, 255, 0.64) inset,
    5px 5px 5px 0px rgba(13, 39, 80, 0.15) inset;
}
